@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these rules at the beginning of the file */
html, body, #root {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
}

#root {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}
